body{
    background: #381D2A;
    font-family: sans-serif;  
}

.assignments{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
h1{
    color:  #F39B6D;
    text-align: center;
}

h2{
    text-align: center;
    color: white;
}
.assignment{
    padding: 10px;
    margin: 10px;
    padding: 20px 10px;
    background-color: #3E6990;
    border-radius: 25px;
    width: 25%;
}
.assignment img{
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
    border: 2px solid #AABD8C;
    display: block;
    margin: auto;
}
a{
    text-decoration: none;
    color: #fff;
}
a: hover{
    color: #381D2A;
}