body{
    background: #33AFFF;
    font-family: sans-serif;  
}
h1{
    color: darkblue;
    text-align: center;
}
.assignment{
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: lightcyan;
}
.assignment img{
    width: 200px;
    height: 200px;
    padding: 10px;
}